
config/db_local.php
.env
*.env.local
.phpunit.result.cache
composer.lock
vendor/
.nvim/
.nvim.lua
*.swp
*.swo
*~
.netrwhist
.vscode/
*.code-workspace
.idea/
*.bkpr
.DS_Store
Thumbs.db
*.log
.stfolder/
.stversions/
*.sync-conflict-*